extends layout
block content       
  .container-fulid      
    .col-sm-10.col-md-10
      .panel.panel-default
        .panel-heading
          .row
            .pull-right(style="margin-right: 10px;")
              h3#h3.panel-title اسرة الزوج
            .col-xs-6.col-md-6
              .input-group
                input.form-control#search_input(type='text',name="search_input" placeholder='بحث...برقم القيد فقط')
                .input-group-btn
                  button.btn.btn-default#search_button(type="button")
                    i.glyphicon.glyphicon-search
        .table-responsive
          table.table.table-bordred.table-striped.table-condensed
            thead
              tr.info
                th.text-center رقم الاسرة
                th.text-center رقم القيد
                th.text-center رقم ورقة العائلة
                th.text-center تاريخ فتح ورقة العائلة
                th.text-center الرقم الالي
                th.text-center حالة الاسرة
                th.text-center نوع الاسرة
                th.text-center السجل المدني
                th.text-center اضافة واقعة
            tbody#family_table        
  #add.modal.fade(tabindex="-1",role="dialog", aria-labelledby="edit", aria-hidden="true")
    .modal-dialog.modal-lg
      .modal-content
        form.form(action="/divorce/new_divorce", method="post", accept-charset="utf-8", role="form")
          .modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true")
              span.glyphicon.glyphicon-remove(aria-hidden="true")
            h4.modal-title.custom_align بيانات واقعة ألطﻻق
          .modal-body
            #father_name              
            hr
            ul.nav.nav-tabs(role="tablist")
              li.active(role="presentation")
                a(href="#tabOne", aria-controls="tabOne", role="tab", data-toggle="tab") بينات الزوجة
              li#tabtow 
                a(href="#tabTwo", aria-controls="tabTwo", role="tab", data-toggle="tab") بيانات العائلة   
              li
                a(href="#tabThree", aria-controls="tabThree", role="tab", data-toggle="tab") بيانات الواقعة
            .tab-content
              #tabOne.tab-pane.active(role="tabpanel")
                .form-group            
                  .row
                    .col-xs-4.col-md-4
                      label الزوجات
                      select#waif_name.form-control.selectpicker(name="waif_name", data-live-search="true", data-size=5)
            
                    .col-xs-4.col-md-4
                      label تاريخ ميﻻد الزوجة
                      label.form-control#data1
                    #back     
                      .col-xs-4.col-md-4
                        label هل ترغب المطلقة للعودة لأسرتها السابقة ؟
                        select#wife_bt_family.form-control.selectpicker(name="wife_bt_family", data-live-search="true", data-size=5)
                          option(value="", style='color:grey; display:none;') العودة للاسرة السابقة...
                          option(value="1") نعم
                          option(value="2") لا
                  br
                  #child  
                    .row     
                      .col-xs-4.col-md-4
                        label هل ترغب الزوجة في حضانة الاطفال ؟
                      .col-xs-2.col-md-2  
                        input#toggle-child(name = "wife_custody",type='checkbox', data-on="نعم",data-off="لا", data-toggle='toggle')
                  br
                  br
                  #child-table  
                    .table-responsive
                      table.table.table-bordred.table-striped.table-condensed
                        thead
                          tr.info
                            th.text-center أسم الطفل الرباعي
                            th.text-center تاريخ الميلاد
                            th.text-center أسم الام
                            th.text-center أختار
                        tbody#family_chiled_table    
              #tabTwo.tab-pane.tabTree(role="tabpanel") 
                br
                .row    
                  .col-xs-4.col-md-4
                    .form-group
                      label رقم القيد
                      input#add_registry_number.form-control(type="text", name="Registrynumber", placeholder="اكتب رقم القيد")
                  .col-xs-4.col-md-4
                    .form-group
                      label رقم ورقة العائلة
                      input#add_record_number.form-control(type="text", name="Recordnumber", placeholder="رقم ورقة العائلة")
                  .col-xs-4.col-md-4
                    .form-group
                      label تاريخ فتح ورقة العائلة
                      input#add_family_record_date.form-control(type='text', name='FamilyRecordDate', placeholder="تاريخ فتح ورقة العائلة")       
                .row  
                  .col-xs-4.col-md-4
                    .form-group
                      label الرقم الالي
                      input#add_auto_generated_id.form-control(type="text", name="Autogenerated_Id", placeholder="الرقم الالي")   
                  .col-xs-4.col-md-4
                    .form-group
                      label حالة الاسرة
                      select#is_closed.form-control.selectpicker(name="Is_Closed", data-live-search="true", data-size=5)
                        option(value="", style='color:grey; display:none;') اختر نوع الاسرة...
                        option(value="1") نشطة 
                        option(value="2") غير نشطة
                  .col-xs-4.col-md-4
                    label نوع الاسرة
                    select.form-control.selectpicker(name="FamilyType", data-live-search="true", data-size=5)
                      option(value="", style='color:grey; display:none;') نوع الاسرة
                      option(value="1") ليبية
                      option(value="2") مؤقتة 
                      option(value="3") أجنبية                     
              #tabThree.tab-pane(role="tabpanel") 
                br
                .row    
                  .col-xs-3.col-md-3
                    .form-group
                      label المنطقة
                      select#region.form-control.selectpicker(name="", data-live-search="true", data-size=5)
                        option(value="", style='color:grey; display:none;') اختر المنطقة...
                        for region in regions
                          option(value="#{region.id}") #{region.region_name}
                  .col-xs-3.col-md-3
                    .form-group
                      label مكتب الاصدار
                      select#Branches.form-control.selectpicker(name="", data-live-search="true", data-size=5)
                        option(value="", style='colr:grey; display:none;') مكتب الاصدار
                  .col-xs-3.col-md-3
                    .form-group
                      label السجل المدني
                      select#Offices.form-control.selectpicker(name="officeId", data-live-search="true", data-size=5)
                        option(value="", style='colr:grey; display:none;') السجل المدني
                  .col-xs-3.col-md-3
                    .form-group
                      label مكان الطﻻق
                      input.form-control(type="text", name="divorce_place", placeholder="عقد الطﻻق")      
                .row
                  .col-xs-3.col-md-3
                    .form-group
                      label تاريخ الطﻻق
                      input#divorce_date.form-control(type="text", name="divorce_date", placeholder="تاريخ الطﻻق")
                  .col-xs-3.col-md-3
                    .form-group
                      label رقم عقد الطﻻق
                      input.form-control#contract_divorce_number(type="text", name="contract_divorce_number", placeholder="رقم عقد الطﻻق")
                  .col-xs-3.col-md-3
                    .form-group
                      label رقم سجل الطﻻق
                      input.form-control#record_divorce_number(type="text", name="record_divorce_number", placeholder="رقم سجل الطﻻق")
                  .col-xs-3.col-md-3
                    .form-group
                      label تاريخ تسجيل الطﻻق
                      input#inform_date.form-control(type="text", name="inform_date", placeholder="تاريخ اﻹكتيتاب")   
                .row
                  .col-xs-3.col-md-3
                    .form-group
                      label بلد الطﻻق
                      select#country.form-control.selectpicker(name="", data-live-search="true", data-size=5)
                        option(value="", style='colr:grey; display:none;') بلد الطﻻق
                        for country in countrys
                          option(value="#{country.id}") #{country.country_name}
                  .col-xs-3.col-md-3
                    .form-group
                      label مدينة الطﻻق
                      select#Cities.form-control.selectpicker(name="city_Id", data-live-search="true", data-size=5)
                        option(value="", style='colr:grey; display:none;') مدينة الطﻻق   
                  .col-xs-3.col-md-3
                    .form-group
                      label حالة الطﻻق 
                      select#divorce_type.form-control.selectpicker(name="divorce_type", data-live-search="true", data-size=5)
                        option(value="", style='colr:grey; display:none;') حالة الطﻻق    
                        option(value="1") طﻻق محكمة
                        option(value="2") طﻻق مؤذون                   
          .modal-footer
            button.btn.btn-success.btn-lg(type="submit", style="width: 100%;")
              span.glyphicon.glyphicon
              |  حفظ
  script(src='/js/jquery-2.1.1.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/bootstrap-select.min.js')
  script(src='/js/jquery.validate.min.js')
  script(src='/js/bootstrap-notify.min.js')
  script(src='/js/moment-with-locales.min.js')
  script(src='/js/bootstrap-datetimepicker.min.js')
  script(src='/js/bootstrap-switch.min.js')
  script(src='/js/bootstrap-toggle.min.js') 
  script(src='/js/jquery.mask.min.js')
  script(src='/js/divorce.js')  
  script(src='/js/helpers.js')

    
