extends layout
block content
  .container-fulid
    .col-sm-10.col-md-10
      .pull-right(style="margin-left: 10px;")
        a.btn.btn-success.add_marriage(href='#add', role='button',data-toggle='modal')
          span.text-none  تسجيل واقعة
          span.glyphicon.glyphicon-plus
  br
  br        
  .container-fulid      
    .col-sm-5.col-md-5
      .panel.panel-default
        .panel-heading
          .row
            .pull-right(style="margin-right: 10px;")
              h3#h3.panel-title اسرة الزوج
            .col-xs-9.col-md-9
              form#search_marriage.form(role="form",name='search_marriage')
                .input-group
                  input#searchVal.form-control(type='text',name="searchVal" placeholder='بحث...برقم القيد فقط')
                  .input-group-btn
                    button#search.btn.btn-default
                      i.glyphicon.glyphicon-search
            //- .pull-left(style="margin-left: 10px;")
            //-   a.btn.btn-success(href='#add', role='button',data-toggle='modal')
            //-     span.glyphicon.glyphicon-plus
            //-     span.text-none  إضافة مولود جديد
        .table-responsive
          table.table.table-bordred.table-striped.table-condensed
            thead
              tr.info
                th.text-center الاسم رباعي
                th.text-center تاريخ الميلاد
                th.text-center صلة القرابة
                th.text-center اختيار
            tbody#tbody
              tr
                td.text-center 
                td.text-center 
                td.text-center 
                td.text-center
  
    .col-sm-5.col-md-5
      .panel.panel-default
        .panel-heading
          .row
            .pull-right(style="margin-right: 10px;")
              h3#h3.panel-title اسرة الزوجة
            .col-xs-9.col-md-9
              form#search_marriage_F.form(role="form",name='search_marriage_F')
                .input-group
                  input#searchVal_F.form-control(type='text',name="searchVal_F" placeholder='بحث...برقم القيد فقط')
                  .input-group-btn
                    button#search_F.btn.btn-default
                      i.glyphicon.glyphicon-search
            //- .pull-left(style="margin-left: 10px;")
            //-   a.btn.btn-success(href='#add', role='button',data-toggle='modal')
            //-     span.glyphicon.glyphicon-plus
            //-     span.text-none  إضافة مولود جديد
        .table-responsive
          table.table.table-bordred.table-striped.table-condensed
            thead
              tr.info
                th.text-center الاسم رباعي
                th.text-center تاريخ الميلاد
                th.text-center صلة القرابة
                th.text-center اختيار
            tbody#tbody_F
              tr
                td.text-center
                td.text-center
                td.text-center
                td.text-center#id
                                    
  #add.modal.fade(tabindex="-1", role="dialog", aria-labelledby="edit", aria-hidden="true")
    .modal-dialog.modal-lg
      .modal-content
        form.form(action="", method="post", accept-charset="utf-8", role="form")
          .modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true")
              span.glyphicon.glyphicon-remove(aria-hidden="true")
            h4.modal-title.custom_align بيانات واقعة الزواج
          .modal-body
            .row
              .col-xs-3.col-md-3
                .form-group
                  label تاريخ الزواج
                  input#Birth_Date.form-control(type="text", name="", placeholder="تاريخ الزواج")
              .col-xs-3.col-md-3
                .form-group
                  label مكان الزواج
                  input.form-control(type="text", name="", placeholder="مكان الزواج")
              .col-xs-3.col-md-3
                .form-group
                  label رقم عقد الزواج
                  input.form-control(type="text", name="", placeholder="رقم عقد الزواج")
              .col-xs-3.col-md-3
                .form-group
                  label رقم سجل الزواج
                  input.form-control(type="text", name="", placeholder="رقم سجل الزواج")
            .row
              .col-xs-3.col-md-3
                .form-group
                  label رقم ورقة العائلة
                  input.form-control(type="text", name="", placeholder="رقم ورقة العائلة")
              .col-xs-3.col-md-3
                .form-group
                  label تاريخ فتح ورقة العائلة
                  input#Birth_Date.form-control(type="text", name="Birth_Date", placeholder="تاريخ فتح ورقة العائلة")
              .col-xs-3.col-md-3
                .form-group
                  label رقم السجل
                  input.form-control(type="text", name="", placeholder="رقم السجل")
              .col-xs-3.col-md-3
                .form-group
                  label رقم ورقة السجل
                  input.form-control(type="text", name="", placeholder="رقم ورقة السجل")
            .row
              .col-xs-3.col-md-3
                .form-group
                  label رقم القيد الجديد
                  input.form-control(type="text", name="", placeholder="رقم القيد الجديد")
          .modal-footer
            button.btn.btn-success.btn-lg(type="submit", style="width: 100%;")
              span.glyphicon.glyphicon-plus
              |  إضافة
  script(src='/js/jquery-2.1.1.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/bootstrap-select.min.js')
  script(src='/js/jquery.validate.min.js')
  script(src='/js/bootstrap-notify.min.js')
  script(src='/js/moment-with-locales.min.js')
  script(src='/js/bootstrap-datetimepicker.min.js')
  script(src='/js/bootstrap-switch.min.js')
  script(src='/js/jquery.mask.min.js')
  script(src='/js/helpers.js')
  script(src='/js/marriage.js')
  script.
    $('#Birth_Date').datetimepicker({
      useCurrent: false,
      viewMode: 'years',
      format: 'YYYY-MM-DD',
      locale: 'ar-sa'
    });
    $("[data-toggle=tooltip]").tooltip();
    $('#weight').mask('0.000');
