extends layout
block content
  .container-fulid
    .col-sm-10.col-md-10
      .pull-right(style="margin-left: 10px;")
        a.btn.btn-success.add_marriage(role='button',data-toggle='modal')
          span.glyphicon.glyphicon-plus
          span.text-none  تسجيل واقعة
      .pull-right(style="margin-left: 10px;")
        a.btn.btn-primary(href='/marriage/marriages', role='button')
          span.glyphicon.glyphicon-tasks  
          span.text-none  عرض واقعات الزواج     
  br
  br        
  .container-fulid      
    .col-sm-5.col-md-5
      .panel.panel-default
        .panel-heading
          .row
            .pull-right(style="margin-right: 10px;")
              h3#h3.panel-title اسرة الزوج
            .col-xs-9.col-md-9
              form#search_marriage.form(role="form",name='search_marriage')
                .input-group
                  input#searchVal.form-control(type='text',name="searchVal" placeholder='بحث...برقم القيد فقط')
                  .input-group-btn
                    button#search.btn.btn-default
                      i.glyphicon.glyphicon-search
            //- .pull-left(style="margin-left: 10px;")
            //-   a.btn.btn-success(href='#add', role='button',data-toggle='modal')
            //-     span.glyphicon.glyphicon-plus
            //-     span.text-none  إضافة مولود جديد
        .table-responsive
          table.table.table-bordred.table-striped.table-condensed
            thead
              tr.info
                th.text-center الاسم رباعي
                th.text-center تاريخ الميلاد
                th.text-center صلة القرابة
                th.text-center نوع الاسرة
                th.text-center اختيار
            tbody#tbody
              tr
                td.text-center 
                td.text-center 
                td.text-center 
                td.text-center
                td.text-center
  
    .col-sm-5.col-md-5
      .panel.panel-default
        .panel-heading
          .row
            .pull-right(style="margin-right: 10px;")
              h3#h3.panel-title اسرة الزوجة
            .col-xs-9.col-md-9
              form#search_marriage_F.form(role="form",name='search_marriage_F')
                .input-group
                  input#searchVal_F.form-control(type='text',name="searchVal_F" placeholder='بحث...برقم القيد فقط')
                  .input-group-btn
                    button#search_F.btn.btn-default
                      i.glyphicon.glyphicon-search
            //- .pull-left(style="margin-left: 10px;")
            //-   a.btn.btn-success(href='#add', role='button',data-toggle='modal')
            //-     span.glyphicon.glyphicon-plus
            //-     span.text-none  إضافة مولود جديد
        .table-responsive
          table.table.table-bordred.table-striped.table-condensed
            thead
              tr.info
                th.text-center الاسم رباعي
                th.text-center تاريخ الميلاد
                th.text-center صلة القرابة
                th.text-center نوع الاسرة
                th.text-center اختيار
            tbody#tbody_F
              tr
                td.text-center
                td.text-center
                td.text-center
                td.text-center
                td.text-center
                                    
  #add.modal.fade(tabindex="-1", role="dialog", aria-labelledby="edit", aria-hidden="true")
    .modal-dialog.modal-lg
      .modal-content
        form#new_marriage.form(method="post", accept-charset="utf-8", role="form")
          .modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true")
              span.glyphicon.glyphicon-remove(aria-hidden="true")
            h4.modal-title.custom_align بيانات واقعة الزواج 
          .modal-body
            .row
              .col-xs-3.col-md-3
                .form-group
                  label نوع الزواج
                  select#marriage_type.form-control.selectpicker(name="marriage_type", data-live-search="true", data-size=5)
                    option(value="", style='color:grey; display:none;') نوع الزواج
                    option(value="1") زواج عن طريق المأذون  
                    option(value="2") زواج عن طريق المحكمة
              .col-xs-3.col-md-3
                .form-group
                  label تاريخ الزواج
                  input#marriage_date.form-control(type="text", name="marriage_date", placeholder="تاريخ الزواج")
              .col-xs-3.col-md-3
                .form-group
                  label مكان الزواج
                  input#marriage_place.form-control(type="text", name="marriage_place", placeholder="مكان الزواج")
              .col-xs-3.col-md-3
                .form-group
                  label رقم عقد الزواج
                  input#contract_number.form-control(type="text", name="contract_number", placeholder="رقم عقد الزواج")
            .row  
              .col-xs-3.col-md-3
                .form-group
                  label رقم سجل الزواج
                  input#record_marriage_nu.form-control(type="text", name="record_marriage_nu", placeholder="رقم سجل الزواج")
              .col-xs-3.col-md-3
                .form-group
                  label تاريخ سجل الزواج
                  input#inform_date.form-control(type="text", name="inform_date", placeholder="تاريخ سجل الزواج")
              .col-xs-3.col-md-3
                .form-group
                  label رقم ورقة العائلة
                  input#Recordnumber.form-control(type="text", name="Recordnumber", placeholder="رقم ورقة العائلة")
              .col-xs-3.col-md-3
                .form-group
                  label تاريخ فتح ورقة العائلة
                  input#FamilyRecordDate.form-control(type="text", name="FamilyRecordDate", placeholder="تاريخ فتح ورقة العائلة")
            .row  
              .col-xs-3.col-xs-offset-3.col-md-3.col-md-offset-3
                .form-group
                  label رقم القيد الجديد
                  input#Registrynumber.form-control(type="text", name="Registrynumber", placeholder="رقم القيد الجديد")
              .col-xs-3.col-md-3
                .form-group
                  label مدينة الزواج    
                  select#CityId.form-control.selectpicker(name="CityId", data-live-search="true", data-size=5)
                    option(value="", style='color:grey; display:none;') المدينة...
                    for city in citys
                      option(value="#{city.id}") #{city.city_name}
                  input#husband_personal_Id(name="husband_personal_Id",type="hidden")
                  input#husband_family_Id(name="husband_family_Id",type="hidden")
                  input#wife_personal_Id(name="wife_personal_Id",type="hidden")
                  input#wife_family_Id(name="wife_family_Id",type="hidden")
                  input#OfficeId(name="OfficeId",type="hidden") 
                  input#Socialstatus_Id(name="Socialstatus_Id",type="hidden")
          .modal-footer
            button#save_Marriage.btn.btn-success.btn-lg(style="width: 100%;", data-dismiss="modal", aria-hidden="true")
              span.glyphicon.glyphicon-plus
              |  إضافة
  script(src='/js/jquery-2.1.1.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/bootstrap-select.min.js')
  script(src='/js/jquery.validate.min.js')
  script(src='/js/bootstrap-notify.min.js')
  script(src='/js/moment-with-locales.min.js')
  script(src='/js/bootstrap-datetimepicker.min.js')
  script(src='/js/bootstrap-switch.min.js')
  script(src='/js/jquery.mask.min.js')
  script(src='/js/helpers.js')
  script(src='/js/marriage.js')
  script.
    $('#marriage_date, #inform_date, #FamilyRecordDate').datetimepicker({
      useCurrent: false,
      viewMode: 'years',
      format: 'YYYY-MM-DD',
      locale: 'ar-sa'
    });
    $("[data-toggle=tooltip]").tooltip();
    $('#weight').mask('0.000');
