extends layout

block content
  .container
    .row
      .col-lg-12
        .panel.panel-default
          .panel-heading
            .row
              .pull-right(style="margin-right: 10px;")
                h3#h3.panel-title عرض #{title}
              .col-xs-6.col-md-6
                form.form#searchRegion(action="")
                  .input-group
                    input.form-control(type='text',name="searchName" placeholder='بحث...')
                    .input-group-btn
                      button.btn.btn-default(type="submit")
                        i.glyphicon.glyphicon-search
              .pull-left(style="margin-left: 10px;")
                a.btn.btn-success(href='#add', role='button',data-toggle='modal')
                  span.glyphicon.glyphicon-plus
                  span.text-none  إضافة منطقة
          .table-responsive
            table.table.table-bordred.table-striped.table-condensed
              thead
                tr.info
                  th.text-center رقم المنطقة
                  th.text-center اسم المنطقة
                  th.text-center تعديل
                  th.text-center إلغاء
              tbody
              for region in regions
                tr
                  td.text-center #{region.id}
                  td.text-center #{region.region_name} 
                  td.text-center
                    p(data-placement="top", data-toggle="tooltip", title="تعديل")
                      button#editBtn.btn.btn-primary.btn-xs(data-title="Edit", data-toggle="modal", data-target="#edit")
                        span.glyphicon.glyphicon-pencil
                  td.text-center
                    p(data-placement="top", data-toggle="tooltip", title="إلغاء")
                      button#deleteBtn.btn.btn-danger.btn-xs(data-title="Delete", data-toggle="modal", data-target="#delete")
                        span.glyphicon.glyphicon-trash
  #add.modal.fade(tabindex="-1", role="dialog", aria-labelledby="edit", aria-hidden="true")
    .modal-dialog
      .modal-content
        form.form#addReginForm(action="", method="post", accept-charset="utf-8", role="form")
          .modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true")
              span.glyphicon.glyphicon-remove(aria-hidden="true")
            h4.modal-title.custom_align إضافة منطقة جديدة
          .modal-body
            .form-group
              .row
                .col-xs-8.col-xs-offset-2.col-md-8.col-md-offset-2
                  label اسم المنطقة
                  input#region_name.form-control(type="text", name="region_name", placeholder="اسم المطقة")
          .modal-footer
            button#addReginBtn.btn.btn-warning.btn-lg(type="submit", style="width: 100%;")
              span.glyphicon.glyphicon-ok-sign
              |  إضافة
  #edit.modal.fade(tabindex="-1", role="dialog", aria-labelledby="edit", aria-hidden="true")
    .modal-dialog
      .modal-content
        form.form#editReginForm(action="", method="post", accept-charset="utf-8", role="form")
          .modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true")
              span.glyphicon.glyphicon-remove(aria-hidden="true")
            h4.modal-title.custom_align تعديل منطقة
          .modal-body
            .form-group
              .row
                .col-xs-8.col-xs-offset-2.col-md-8.col-md-offset-2
                  label اسم المنطقة
                  input#region_name.form-control(type="text", name="region_name", placeholder="اسم المطقة")
          .modal-footer
            button#editReginBtn.btn.btn-info.btn-lg(type="submit", style="width: 100%;")
              span.glyphicon.glyphicon-ok-sign
              |  تعديل
  #delete.modal.fade(tabindex="-1", role="dialog", aria-labelledby="edit", aria-hidden="true")
    .modal-dialog
      .modal-content
        form.form#deleteReginForm(action="#", method="post", accept-charset="utf-8", role="form")
          .modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true")
              span.glyphicon.glyphicon-remove(aria-hidden="true")
            h4.modal-title.custom_align إلغاء منطقة معينة
          .modal-body
            .alert.alert-danger.h5
              span.glyphicon.glyphicon-warning-sign
              |  هل تريد فعلا الغاء هذه المنطقة ؟
          .modal-footer
            button#yesBtn.btn.btn-danger(type="button" ,data-dismiss="modal")
              span.glyphicon.glyphicon-ok-sign
              |  نعم
            button.btn.btn-default(type="button", data-dismiss="modal")
              span.glyphicon.glyphicon-remove
              |  لا
  script(src='/js/jquery-2.1.1.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/jquery.validate.min.js')
  script(src='/js/bootstrap-notify.min.js')
  script(src='/js/helpers.js')
  script(src='/js/region.js')