@font-face {
  font-family: 'droidkufi';
  src : url("../fonts/DroidKufi-Regular.ttf") format("truetype");
}

body {
  font-family: 'droidkufi', sans-serif;
}
  
.font {
  font-family: 'droidkufi', sans-serif; 
}

input[type="text"],input[type="password"]{
  line-height: 25px;
}

#h3{
  font-size: 20px;
  line-height: 30px;
}

.error{
  color: red;
  position: absolute;
  font-size: 100%;
  font-weight: 100;
}

.custom-error{
  color: red;
  font-size: 100%;
  font-weight: 100;
}

/*This style for cpanel start*/
.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }
/*This style for cpanel end*/

/*This style for navigation start*/
.label,#glyphicon { margin-right:5px; }
/*This style for navigation end*/


.table>tbody>tr.active>td, .table>tbody>tr.active>th, 
.table>tbody>tr>td.active, .table>tbody>tr>th.active, 
.table>tfoot>tr.active>td, .table>tfoot>tr.active>th, 
.table>tfoot>tr>td.active, .table>tfoot>tr>th.active, 
.table>thead>tr.active>td, .table>thead>tr.active>th, 
.table>thead>tr>td.active, .table>thead>tr>th.active {
    background-color: #f2efee;
}